/* html,
body {
    overflow-x: hidden !important;
} */

html :where(.wp-block) {
    max-width: 100%;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

img {
    max-width: 100%;
    height: auto;
}

.fit-cover {
    object-fit: cover;
}

.cover {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

figure {
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    line-height: 100%;
    font-weight: 400;
    margin: 0;
}

.editor-styles-wrapper p,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
    line-height: 110%;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

.transition3 {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.responsive-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

.responsive-container iframe,
.responsive-container object,
.responsive-container embed,
.responsive-container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.trim {
    leading-trim: both;
    text-edge: cap;
}

/* style fonts */
.lighter {
    font-weight: 100 !important;
}

.light {
    font-weight: 300 !important;
}

.normal {
    font-weight: 400 !important;
}

.medium {
    font-weight: 500 !important;
}

.bold {
    font-weight: bold !important;
}

.active.hover-bold {
    font-weight: bold !important;
}

.active-bold.active {
    font-weight: bold;
}

.extrabold {
    font-weight: 800 !important;    
}

.bolder {
    font-weight: 900 !important;
}

.italic {
    font-style: italic;
}

.through {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.max_line {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max_line_2 {
    -webkit-line-clamp: 2;
}

.max_line_3 {
    -webkit-line-clamp: 3;
}

.max_line_4 {
    -webkit-line-clamp: 4;
}

.max_line_5 {
    -webkit-line-clamp: 5;
}

/* position */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bottom-0 {
    bottom: 0;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}
.right-48 {
    right: 48;
}

.left-0 {
    left: 0;
}

/* Mapa */
.acf-map {
    border: 0;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0 ease !important;
    -moz-transition: all 0 ease !important;
    -ms-transition: all 0 ease !important;
    -o-transition: all 0 ease !important;
    transition: all 0 ease !important;
}

.acf-map * {
    -webkit-transition: all 0 ease !important;
    -moz-transition: all 0 ease !important;
    -ms-transition: all 0 ease !important;
    -o-transition: all 0 ease !important;
    transition: all 0 ease !important;
}


/* input */

input label {
    width: 100%;
}

form input {
    width: 100%;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

::-webkit-input-placeholder {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: var(--secondary);
    font-size: 16px;
    font-weight: 700;
}

:-moz-placeholder {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: var(--secondary);
    font-size: 16px;
    font-weight: 700;
}

::-moz-placeholder {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: var(--secondary);
    font-size: 16px;
    font-weight: 700;
}

:-ms-input-placeholder {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: var(--secondary);
    font-size: 16px;
    font-weight: 700;
}

*:focus::-webkit-input-placeholder {
    color: transparent;
}

*:focus:-moz-placeholder {
    color: transparent;
}

*:focus::-moz-placeholder {
    color: transparent;
}

*:focus:-ms-input-placeholder {
    color: transparent;
}

.tns-outer button[data-action="stop"] {
    display: none;
}

.offcanvas-body {
    padding: 0;
}

.row {
    margin-right: -16px;
    margin-left: -16px;
}

.row>*, .container{
    padding-right: 16px;
    padding-left: 16px;
}

.container {
    max-width: 1440px;
}

@media(max-width: 1900px) {
    .container {
        max-width: 1320px;
    }
}

.navbar .nav {
    max-width: 1856px;
    margin: 0 auto;
}

header.alt .navbar.bg-transparent, .subMenu.bg-transparent, .menu-mobile.bg-transparent {
    background-color: var(--neutral-1) !important;
}

header.alt .navbar.bg-transparent .logo svg path {
    fill: var(--blue-5) !important;
}

header.alt .navbar.bg-transparent .neutral-1, .subMenu.bg-transparent .neutral-1 {
    color: var(--blue-5) !important;
}

header.alt .navbar.bg-transparent .hover-neutral-1:hover, .subMenu.bg-transparent .hover-neutral-1:hover  {
    color: var(--blue-8) !important;
}

.subMenu.bg-transparent .border-neutral-1 {
    border-color: var(--blue-5) !important;
}

.radius-4 { border-radius: 4px; }
.radius-8 { border-radius: 8px; }
.radius-12 { border-radius: 12px; }
.radius-16 { border-radius: 16px; }
.radius-20 { border-radius: 20px; }
.radius-24 { border-radius: 24px; }
.radius-28 { border-radius: 28px; }
.radius-32 { border-radius: 32px; }
.radius-36 { border-radius: 36px; }
.radius-40 { border-radius: 40px; }
.radius-44 { border-radius: 44px; }
.radius-48 { border-radius: 48px; }

/*xl*/
@media (max-width: 1900px) {
    .xl-radius-4 { border-radius: 4px; }
    .xl-radius-8 { border-radius: 8px; }
    .xl-radius-12 { border-radius: 12px; }
    .xl-radius-16 { border-radius: 16px; }
    .xl-radius-20 { border-radius: 20px; }
    .xl-radius-24 { border-radius: 24px; }
    .xl-radius-28 { border-radius: 28px; }
    .xl-radius-32 { border-radius: 32px; }
    .xl-radius-36 { border-radius: 36px; }
    .xl-radius-40 { border-radius: 40px; }
    .xl-radius-44 { border-radius: 44px; }
    .xl-radius-48 { border-radius: 48px; }
}

/*lg*/
@media (max-width: 1399px) {
    .lg-radius-4 { border-radius: 4px; }
    .lg-radius-8 { border-radius: 8px; }
    .lg-radius-12 { border-radius: 12px; }
    .lg-radius-16 { border-radius: 16px; }
    .lg-radius-20 { border-radius: 20px; }
    .lg-radius-24 { border-radius: 24px; }
    .lg-radius-28 { border-radius: 28px; }
    .lg-radius-32 { border-radius: 32px; }
    .lg-radius-36 { border-radius: 36px; }
    .lg-radius-40 { border-radius: 40px; }
    .lg-radius-44 { border-radius: 44px; }
    .lg-radius-48 { border-radius: 48px; }
}

/*md*/
@media (max-width: 1199px) {
    .md-radius-4 { border-radius: 4px; }
    .md-radius-8 { border-radius: 8px; }
    .md-radius-12 { border-radius: 12px; }
    .md-radius-16 { border-radius: 16px; }
    .md-radius-20 { border-radius: 20px; }
    .md-radius-24 { border-radius: 24px; }
    .md-radius-28 { border-radius: 28px; }
    .md-radius-32 { border-radius: 32px; }
    .md-radius-36 { border-radius: 36px; }
    .md-radius-40 { border-radius: 40px; }
    .md-radius-44 { border-radius: 44px; }
    .md-radius-48 { border-radius: 48px; }
}

/*sm*/
@media (max-width: 743px) {
    .sm-radius-4 { border-radius: 4px; }
    .sm-radius-8 { border-radius: 8px; }
    .sm-radius-12 { border-radius: 12px; }
    .sm-radius-16 { border-radius: 16px; }
    .sm-radius-20 { border-radius: 20px; }
    .sm-radius-24 { border-radius: 24px; }
    .sm-radius-28 { border-radius: 28px; }
    .sm-radius-32 { border-radius: 32px; }
    .sm-radius-36 { border-radius: 36px; }
    .sm-radius-40 { border-radius: 40px; }
    .sm-radius-44 { border-radius: 44px; }
    .sm-radius-48 { border-radius: 48px; }
}

.w4 { width: 4px; }
.w8 { width: 8px; }
.w12 { width: 12px; }
.w16 { width: 16px; }
.w20 { width: 20px; }
.w24 { width: 24px; }
.w28 { width: 28px; }
.w32 { width: 32px; }
.w36 { width: 36px; }
.w40 { width: 40px; }
.w44 { width: 44px; }
.w48 { width: 48px; }
.w52 { width: 52px; }
.w60 { width: 60px; }
.w80 { width: 80px; }

/*xl*/
@media (max-width: 1900px) {
    .xl-w4 { width: 4px; }
    .xl-w8 { width: 8px; }
    .xl-w12 { width: 12px; }
    .xl-w16 { width: 16px; }
    .xl-w18 { width: 18px; }
    .xl-w20 { width: 20px; }
    .xl-w24 { width: 24px; }
    .xl-w28 { width: 28px; }
    .xl-w32 { width: 32px; }
    .xl-w36 { width: 36px; }
    .xl-w40 { width: 40px; }
    .xl-w44 { width: 44px; }
    .xl-w48 { width: 48px; }
    .xl-w52 { width: 52px; }
    .xl-w60 { width: 60px; }
}

/*lg*/
@media (max-width: 1399px) {
    .lg-w4 { width: 4px; }
    .lg-w8 { width: 8px; }
    .lg-w12 { width: 12px; }
    .lg-w16 { width: 16px; }
    .lg-w18 { width: 18px; }
    .lg-w20 { width: 20px; }
    .lg-w24 { width: 24px; }
    .lg-w28 { width: 28px; }
    .lg-w32 { width: 32px; }
    .lg-w36 { width: 36px; }
    .lg-w40 { width: 40px; }
    .lg-w44 { width: 44px; }
    .lg-w48 { width: 48px; }
    .lg-w52 { width: 52px; }
}

/*md*/
@media (max-width: 1199px) {
    .md-w4 { width: 4px; }
    .md-w8 { width: 8px; }
    .md-w12 { width: 12px; }
    .md-w16 { width: 16px; }
    .md-w18 { width: 18px; }
    .md-w20 { width: 20px; }
    .md-w24 { width: 24px; }
    .md-w28 { width: 28px; }
    .md-w32 { width: 32px; }
    .md-w36 { width: 36px; }
    .md-w40 { width: 40px; }
    .md-w44 { width: 44px; }
    .md-w48 { width: 48px; }
    .md-w52 { width: 52px; }
}

/*sm*/
@media (max-width: 743px) {
    .sm-w4 { width: 4px; }
    .sm-w8 { width: 8px; }
    .sm-w12 { width: 12px; }
    .sm-w16 { width: 16px; }
    .sm-w18 { width: 18px; }
    .sm-w20 { width: 20px; }
    .sm-w24 { width: 24px; }
    .sm-w28 { width: 28px; }
    .sm-w32 { width: 32px; }
    .sm-w36 { width: 36px; }
    .sm-w40 { width: 40px; }
    .sm-w44 { width: 44px; }
    .sm-w48 { width: 48px; }
    .sm-w52 { width: 52px; }
}

.hauto { height: auto;}
.h4 { height: 4px; }
.h8 { height: 8px; }
.h12 { height: 12px; }
.h16 { height: 16px; }
.h20 { height: 20px; }
.h24 { height: 24px; }
.h28 { height: 28px; }
.h32 { height: 32px; }
.h36 { height: 36px; }
.h40 { height: 40px; }
.h44 { height: 44px; }
.h48 { height: 48px; }
.h52 { height: 52px; }
.h100 { height: 100px; }
.h120 { height: 120px; }
.h140 { height: 140px; }
.h160 { height: 160px; }
.h180 { height: 180px; }

/*xl*/
@media (max-width: 1900px) {
    .xl-hauto { height: auto;}
    .xl-h4 { height: 4px; }
    .xl-h8 { height: 8px; }
    .xl-h12 { height: 12px; }
    .xl-h16 { height: 16px; }
    .xl-h18 { height: 18px; }
    .xl-h20 { height: 20px; }
    .xl-h24 { height: 24px; }
    .xl-h28 { height: 28px; }
    .xl-h32 { height: 32px; }
    .xl-h36 { height: 36px; }
    .xl-h40 { height: 40px; }
    .xl-h44 { height: 44px; }
    .xl-h48 { height: 48px; }
    .xl-h52 { height: 52px; }
    .xl-h100 { height: 100px; }
    .xl-h120 { height: 120px; }
    .xl-h140 { height: 140px; }
    .xl-h160 { height: 160px; }
    .xl-h180 { height: 180px; }
}

/*lg*/
@media (max-width: 1399px) {
    .lg-hauto { height: auto;}
    .lg-h4 { height: 4px; }
    .lg-h8 { height: 8px; }
    .lg-h12 { height: 12px; }
    .lg-h16 { height: 16px; }
    .lg-h18 { height: 18px; }
    .lg-h20 { height: 20px; }
    .lg-h24 { height: 24px; }
    .lg-h28 { height: 28px; }
    .lg-h32 { height: 32px; }
    .lg-h36 { height: 36px; }
    .lg-h40 { height: 40px; }
    .lg-h44 { height: 44px; }
    .lg-h48 { height: 48px; }
    .lg-h52 { height: 52px; }
    .lg-h100 { height: 100px; }
    .lg-h120 { height: 120px; }
    .lg-h140 { height: 140px; }
    .lg-h160 { height: 160px; }
    .lg-h180 { height: 180px; }
}

/*md*/
@media (max-width: 1199px) {
    .md-hauto { height: auto;}
    .md-h4 { height: 4px; }
    .md-h8 { height: 8px; }
    .md-h12 { height: 12px; }
    .md-h16 { height: 16px; }
    .md-h18 { height: 18px; }
    .md-h20 { height: 20px; }
    .md-h24 { height: 24px; }
    .md-h28 { height: 28px; }
    .md-h32 { height: 32px; }
    .md-h36 { height: 36px; }
    .md-h40 { height: 40px; }
    .md-h44 { height: 44px; }
    .md-h48 { height: 48px; }
    .md-h52 { height: 52px; }
    .md-h100 { height: 100px; }
    .md-h120 { height: 120px; }
    .md-h140 { height: 140px; }
    .md-h160 { height: 160px; }
    .md-h180 { height: 180px; }
    .md-h200 { height: 200px; }
}

/*sm*/
@media (max-width: 743px) {
    .sm-hauto { height: auto;}
    .sm-h4 { height: 4px; }
    .sm-h8 { height: 8px; }
    .sm-h12 { height: 12px; }
    .sm-h16 { height: 16px; }
    .sm-h18 { height: 18px; }
    .sm-h20 { height: 20px; }
    .sm-h24 { height: 24px; }
    .sm-h28 { height: 28px; }
    .sm-h32 { height: 32px; }
    .sm-h36 { height: 36px; }
    .sm-h40 { height: 40px; }
    .sm-h44 { height: 44px; }
    .sm-h48 { height: 48px; }
    .sm-h52 { height: 52px; }
    .sm-h100 { height: 100px; }
    .sm-h120 { height: 120px; }
    .sm-h140 { height: 140px; }
    .sm-h160 { height: 160px; }
    .sm-h180 { height: 180px; }
}

.container-fluid {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 1920px;
}

.container-fluid.paddingaux {
    padding-right: 80px;
    padding-left: 80px;
}

.line-through {
    text-decoration: line-through;
}

@media (max-width: 1900px) {
    .xl-text-start {
        text-align: left !important;
    }
    .xl-text-center {
        text-align: center !important;
    }
    .xl-text-end {
        text-align: right !important;
    }
    .xl-w100 {
        width: 100% !important;
    }
    .xl-h-100 {
        height: 100% !important;
    }
    .xl-relative {
        position: relative;
    }
    .xl-bold {
        font-weight: bold !important;
    }

    .xl-light {
        font-weight: 300 !important;
    }
    
    .xl-normal {
        font-weight: 400 !important;
    }
}

@media (max-width: 1399px) {
    .lg-text-start {
        text-align: left !important;
    }
    .lg-text-center {
        text-align: center !important;
    }
    .lg-text-end {
        text-align: right !important;
    }
    .lg-w100 {
        width: 100% !important;
    }
    .lg-h-100 {
        height: 100% !important;
    }
    .lg-relative {
        position: relative;
    }
    .lg-bold {
        font-weight: bold !important;
    }
    .row {
        margin-right: -12px;
        margin-left: -12px;
    }
    
    .row>*, .container {
        padding-right: 12px;
        padding-left: 12px;
    }

    .container-fluid {
        padding-right: 24px;
        padding-left: 24px;
    }

    .lg-light {
        font-weight: 300 !important;
    }
    
    .lg-normal {
        font-weight: 400 !important;
    }    
}

@media (max-width: 1199px) {
    .md-text-start {
        text-align: left !important;
    }
    .md-text-center {
        text-align: center !important;
    }
    .md-text-end {
        text-align: right !important;
    }
    .md-w100 {
        width: 100% !important;
    }
    .md-h-100 {
        height: 100% !important;
    }
    .md-relative {
        position: relative;
    }
    .md-bold {
        font-weight: bold !important;
    }
    .md-light {
        font-weight: 300 !important;
    }
    .md-normal {
        font-weight: 400 !important;
    }
}

@media (max-width: 743px) {
    .sm-text-start {
        text-align: left !important;
    }
    .sm-text-center {
        text-align: center;
    }
    .sm-text-end {
        text-align: right;
    }
    .sm-w100 {
        width: 100% !important;
    }
    .sm-wauto {
        width: auto !important;
    }
    .sm-h-100 {
        height: 100% !important;
    }
    .sm-h-auto {
        height: auto !important;
    }
    .sm-relative {
        position: relative;
    }
    .sm-bold {
        font-weight: bold !important;
    }
    .sm-border-none {
        border: none !important;
    }
    .sm-light {
        font-weight: 300 !important;
    }
    .sm-normal {
        font-weight: 400 !important;
    }
}

/* display flex */
.xl-visible {
    display: none !important;
}

.lg-visible {
    display: none !important;
}

.md-visible {
    display: none !important;
}

.md-visible-inline {
    display: none !important;
}

.sm-visible {
    display: none !important;
}

.sm-visible-inline {
    display: none !important;
}

.d-flex {
    display: flex;
}

.d-column {
    display: flex;
    flex-direction: column;
}

.d-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-start {
    display: flex;
    align-items: flex-start;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-inline-center {
    display: inline-flex;
    align-items: center;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

.justify-start {
    display: flex;
    justify-content: start;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    display: flex;
    justify-content: end;
}

.justify-flex-end {
    display: flex;
    justify-content: flex-end;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.justify-space-around {
    display: flex;
    justify-content: space-around;
}

.justify-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.reverse {
    display: flex;
    flex-direction: column-reverse !important;
}

.auto-height-columns {
    display: flex;
    align-items: stretch;
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}

@media (max-width: 2120px) {
    .xxl-visible {
        display: block !important;
    }
}

@media (max-width: 1900px) {
    .xl-visible {
        display: block !important;
    }
    
    .xl-hidden {
        display: none !important;
    }
    .xl-d-flex {
        display: flex;
    }

    .xl-d-column {
        flex-direction: column;
    }

    .xl-d-row {
        flex-direction: row;
    }

    .xl-flex-start {
        align-items: flex-start;
    }

    .xl-flex-center {
        align-items: center;
    }

    .xl-flex-end {
        align-items: flex-end;
    }

    .xl-justify-start {
        justify-content: start;
    }
    
    .xl-justify-center {
        justify-content: center;
    }
    
    .xl-justify-end {
        justify-content: end;
    }

    .xl-justify-space-between {
        justify-content: space-between;
    }

    .xl-justify-space-around {
        display: flex;
        justify-content: space-around;
    }

    .xl-justify-space-evenly {
        display: flex;
        justify-content: space-evenly;
    }

    .xl-reverse {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .xl-auto-height-columns {
        display: flex;
        align-items: stretch;
    }

    .row.xl-padding-col-10 {
        margin-right: -10px;
        margin-left: -10px;
    }
    
    .row.xl-padding-col-10>* {
        padding-right: 10px;
        padding-left: 10px;
    }

    .row.xl-padding-col-12 {
        margin-right: -12px;
        margin-left: -12px;
    }
    
    .row.xl-padding-col-12>* {
        padding-right: 12px;
        padding-left: 12px;
    }

    .xl-nomaxline {

    }

    .xl-max_line {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .xl-max_line_2 {
        -webkit-line-clamp: 2;
    }
    
    .xl-max_line_3 {
        -webkit-line-clamp: 3;
    }
    
    .xl-max_line_4 {
        -webkit-line-clamp: 4;
    }
    
    .xl-max_line_5 {
        -webkit-line-clamp: 5;
    }
}

@media (max-width: 1399px) {
    .lg-visible {
        display: block !important;
    }
    
    .lg-hidden {
        display: none !important;
    }

    .lg-d-flex {
        display: flex;
    }

    .lg-d-column {
        flex-direction: column;
    }

    .lg-d-row {
        flex-direction: row;
    }

    .lg-flex-start {
        align-items: flex-start;
    }

    .lg-flex-center {
        align-items: center;
    }

    .lg-flex-end {
        align-items: flex-end;
    }

    .lg-justify-start {
        justify-content: start;
    }
    
    .lg-justify-center {
        justify-content: center;
    }
    
    .lg-justify-end {
        justify-content: end;
    }

    .lg-justify-space-between {
        justify-content: space-between;
    }

    .lg-justify-space-around {
        display: flex;
        justify-content: space-around;
    }

    .lg-justify-space-evenly {
        display: flex;
        justify-content: space-evenly;
    }

    .lg-reverse {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .lg-auto-height-columns {
        display: flex;
        align-items: stretch;
    }

    .row.lg-padding-col-10 {
        margin-right: -10px;
        margin-left: -10px;
    }
    
    .row.lg-padding-col-10>* {
        padding-right: 10px;
        padding-left: 10px;
    }

    .row.lg-padding-col-12 {
        margin-right: -12px;
        margin-left: -12px;
    }
    
    .row.lg-padding-col-12>* {
        padding-right: 12px;
        padding-left: 12px;
    }
    
    .row.lg-padding-col-8 {
        margin-right: -8px;
        margin-left: -8px;
    }
    
    .row.lg-padding-col-8>* {
        padding-right: 8px;
        padding-left: 8px;
    }

    .lg-max_line {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .lg-max_line_2 {
        -webkit-line-clamp: 2;
    }
    
    .lg-max_line_3 {
        -webkit-line-clamp: 3;
    }
    
    .lg-max_line_4 {
        -webkit-line-clamp: 4;
    }
    
    .lg-max_line_5 {
        -webkit-line-clamp: 5;
    }
}

@media (max-width: 1199px) {
    .md-hidden-sm-visible {
        display: none !important;
    }

    .md-visible {
        display: block !important;
    }

    .md-visible-inline {
        display: inline-block !important;
    }
    
    .md-hidden {
        display: none !important;
    }

    .md-d-flex {
        display: flex !important;
    }

    .md-d-column {
        flex-direction: column;
    }

    .md-d-row {
        flex-direction: row;
    }

    .md-flex-start {
        align-items: flex-start;
    }

    .md-flex-center {
        align-items: center;
    }

    .md-flex-end {
        align-items: flex-end;
    }

    .md-justify-start {
        justify-content: start;
    }
    
    .md-justify-center {
        justify-content: center;
    }
    
    .md-justify-end {
        justify-content: end;
    }

    .md-justify-space-between {
        justify-content: space-between;
    }

    .md-justify-space-around {
        display: flex;
        justify-content: space-around;
    }

    .md-justify-space-evenly {
        display: flex;
        justify-content: space-evenly;
    }

    .md-reverse {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .md-auto-height-columns {
        display: flex;
        align-items: stretch;
    }

    .row.md-padding-col-8 {
        margin-right: -8px;
        margin-left: -8px;
    }
    
    .row.md-padding-col-8>* {
        padding-right: 8px;
        padding-left: 8px;
    }

    .row.md-padding-col-10 {
        margin-right: -10px;
        margin-left: -10px;
    }
    
    .row.md-padding-col-10>* {
        padding-right: 10px;
        padding-left: 10px;
    }

    .row.md-padding-col-12 {
        margin-right: -12px;
        margin-left: -12px;
    }
    
    .row.md-padding-col-12>* {
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-max_line {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .md-max_line_2 {
        -webkit-line-clamp: 2;
    }
    
    .md-max_line_3 {
        -webkit-line-clamp: 3;
    }
    
    .md-max_line_4 {
        -webkit-line-clamp: 4;
    }
    
    .md-max_line_5 {
        -webkit-line-clamp: 5;
    }
}

@media (max-width: 743px) {
    .md-hidden-sm-visible {
        display: block !important;
    }

    .sm-visible {
        display: block !important;
    }
    
    .sm-visible-inline {
        display: inline-block !important;
    }
    
    .sm-hidden {
        display: none !important;
    }
    .sm-d-flex {
        display: flex;
    }

    .sm-d-column {
        flex-direction: column;
    }

    .sm-d-row {
        flex-direction: row;
    }

    .sm-flex-start {
        align-items: flex-start;
    }

    .sm-flex-center {
        align-items: center;
    }

    .sm-flex-end {
        align-items: flex-end;
    }

    .sm-justify-start {
        justify-content: start;
    }
    
    .sm-justify-center {
        justify-content: center;
    }
    
    .sm-justify-end {
        justify-content: end;
    }

    .sm-justify-space-between {
        justify-content: space-between;
    }

    .sm-justify-space-around {
        display: flex;
        justify-content: space-around;
    }

    .sm-justify-space-evenly {
        display: flex;
        justify-content: space-evenly;
    }

    .sm-reverse {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .sm-auto-height-columns {
        display: flex;
        align-items: stretch;
    }

    .row.sm-padding-col-8 {
        margin-right: -8px;
        margin-left: -8px;
    }
    
    .row.sm-padding-col-8>* {
        padding-right: 8px;
        padding-left: 8px;
    }

    .row.sm-padding-col-10 {
        margin-right: -10px;
        margin-left: -10px;
    }
    
    .row.sm-padding-col-10>* {
        padding-right: 10px;
        padding-left: 10px;
    }

    .row.sm-padding-col-12 {
        margin-right: -12px;
        margin-left: -12px;
    }
    
    .row.sm-padding-col-12>* {
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-max_line {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .sm-max_line_2 {
        -webkit-line-clamp: 2;
    }
    
    .sm-max_line_3 {
        -webkit-line-clamp: 3;
    }
    
    .sm-max_line_4 {
        -webkit-line-clamp: 4;
    }
    
    .sm-max_line_5 {
        -webkit-line-clamp: 5;
    }
}