/* padding totais*/
.nopadding {
    padding: 0px !important;
}

.nopaddingl {
    padding-left: 0px !important;
}

.nopaddingr {
    padding-right: 0px !important;
}

.nopaddingt {
    padding-top: 0px !important;
}

.nopaddingb {
    padding-bottom: 0px !important;
}

.padding2 {
    padding: 2px !important;
}

.padding4 {
    padding: 4px !important;
}

.padding6 {
    padding: 6px !important;
}

.padding8 {
    padding: 8px !important;
}

.padding10 {
    padding: 10px !important;
}

.padding12 {
    padding: 12px !important;
}

.padding14 {
    padding: 14px !important;
}

.padding16 {
    padding: 16px !important;
}

.padding18 {
    padding: 18px !important;
}

.padding20 {
    padding: 20px !important;
}

.padding22 {
    padding: 22px !important;
}

.padding24 {
    padding: 24px !important;
}

.padding26 {
    padding: 26px !important;
}

.padding28 {
    padding: 28px !important;
}

.padding30 {
    padding: 30px !important;
}

.padding32 {
    padding: 32px !important;
}

.padding34 {
    padding: 34px !important;
}

.padding36 {
    padding: 36px !important;
}

.padding38 {
    padding: 38px !important;
}

.padding40 {
    padding: 40px !important;
}

.padding42 {
    padding: 42px !important;
}

.padding44 {
    padding: 44px !important;
}

.padding46 {
    padding: 46px !important;
}

.padding48 {
    padding: 48px !important;
}

.padding50 {
    padding: 50px !important;
}

.padding52 {
    padding: 52px !important;
}

.padding54 {
    padding: 54px !important;
}

.padding56 {
    padding: 56px !important;
}

.padding58 {
    padding: 58px !important;
}

.padding60 {
    padding: 60px !important;
}

.padding62 {
    padding: 62px !important;
}

.padding64 {
    padding: 64px !important;
}

/* padding top*/

.paddingt2 {
    padding-top: 2px !important;
}

.paddingt4 {
    padding-top: 4px !important;
}

.paddingt6 {
    padding-top: 6px !important;
}

.paddingt8 {
    padding-top: 8px !important;
}

.paddingt10 {
    padding-top: 10px !important;
}

.paddingt12 {
    padding-top: 12px !important;
}

.paddingt14 {
    padding-top: 14px !important;
}

.paddingt16 {
    padding-top: 16px !important;
}

.paddingt18 {
    padding-top: 18px !important;
}

.paddingt20 {
    padding-top: 20px !important;
}

.paddingt22 {
    padding-top: 22px !important;
}

.paddingt24 {
    padding-top: 24px !important;
}

.paddingt26 {
    padding-top: 26px !important;
}

.paddingt28 {
    padding-top: 28px !important;
}

.paddingt30 {
    padding-top: 30px !important;
}

.paddingt32 {
    padding-top: 32px !important;
}

.paddingt34 {
    padding-top: 34px !important;
}

.paddingt36 {
    padding-top: 36px !important;
}

.paddingt38 {
    padding-top: 38px !important;
}

.paddingt40 {
    padding-top: 40px !important;
}

.paddingt42 {
    padding-top: 42px !important;
}

.paddingt44 {
    padding-top: 44px !important;
}

.paddingt46 {
    padding-top: 46px !important;
}

.paddingt48 {
    padding-top: 48px !important;
}

.paddingt50 {
    padding-top: 50px !important;
}

.paddingt52 {
    padding-top: 52px !important;
}

.paddingt54 {
    padding-top: 54px !important;
}

.paddingt56 {
    padding-top: 56px !important;
}

.paddingt58 {
    padding-top: 58px !important;
}

.paddingt60 {
    padding-top: 60px !important;
}

.paddingt62 {
    padding-top: 62px !important;
}

.paddingt64 {
    padding-top: 64px !important;
}

.paddingt66 {
    padding-top: 66px !important;
}

.paddingt68 {
    padding-top: 68px !important;
}

.paddingt70 {
    padding-top: 70px !important;
}

.paddingt80 {
    padding-top: 80px !important;
}

.paddingt90 {
    padding-top: 90px !important;
}

.paddingt100 {
    padding-top: 100px !important;
}

.paddingt110 {
    padding-top: 110px !important;
}

.paddingt120 {
    padding-top: 120px !important;
}

.paddingt130 {
    padding-top: 130px !important;
}

.paddingt140 {
    padding-top: 140px !important;
}

.paddingt150 {
    padding-top: 150px !important;
}

.paddingt160 {
    padding-top: 160px !important;
}

.paddingt170 {
    padding-top: 170px !important;
}

.paddingt180 {
    padding-top: 180px !important;
}

.paddingt190 {
    padding-top: 190px !important;
}

.paddingt200 {
    padding-top: 200px !important;
}

/* padding bottom*/
.nopaddingb {
    padding-bottom: 0px !important;
}

.paddingb2 {
    padding-bottom: 2px !important;
}

.paddingb4 {
    padding-bottom: 4px !important;
}

.paddingb6 {
    padding-bottom: 6px !important;
}

.paddingb8 {
    padding-bottom: 8px !important;
}

.paddingb10 {
    padding-bottom: 10px !important;
}

.paddingb12 {
    padding-bottom: 12px !important;
}

.paddingb14 {
    padding-bottom: 14px !important;
}

.paddingb16 {
    padding-bottom: 16px !important;
}

.paddingb18 {
    padding-bottom: 18px !important;
}

.paddingb20 {
    padding-bottom: 20px !important;
}

.paddingb22 {
    padding-bottom: 22px !important;
}

.paddingb24 {
    padding-bottom: 24px !important;
}

.paddingb26 {
    padding-bottom: 26px !important;
}

.paddingb28 {
    padding-bottom: 28px !important;
}

.paddingb30 {
    padding-bottom: 30px !important;
}

.paddingb32 {
    padding-bottom: 32px !important;
}

.paddingb34 {
    padding-bottom: 34px !important;
}

.paddingb36 {
    padding-bottom: 36px !important;
}

.paddingb38 {
    padding-bottom: 38px !important;
}

.paddingb40 {
    padding-bottom: 40px !important;
}

.paddingb42 {
    padding-bottom: 42px !important;
}

.paddingb44 {
    padding-bottom: 44px !important;
}

.paddingb46 {
    padding-bottom: 46px !important;
}

.paddingb48 {
    padding-bottom: 48px !important;
}

.paddingb50 {
    padding-bottom: 50px !important;
}

.paddingb52 {
    padding-bottom: 52px !important;
}

.paddingb54 {
    padding-bottom: 54px !important;
}

.paddingb56 {
    padding-bottom: 56px !important;
}

.paddingb58 {
    padding-bottom: 58px !important;
}

.paddingb60 {
    padding-bottom: 60px !important;
}

.paddingb62 {
    padding-bottom: 62px !important;
}

.paddingb64 {
    padding-bottom: 64px !important;
}

.paddingb66 {
    padding-bottom: 66px !important;
}

.paddingb68 {
    padding-bottom: 68px !important;
}

.paddingb70 {
    padding-bottom: 70px !important;
}

.paddingb80 {
    padding-bottom: 80px !important;
}

.paddingb90 {
    padding-bottom: 90px !important;
}

.paddingb100 {
    padding-bottom: 100px !important;
}

.paddingb110 {
    padding-bottom: 110px !important;
}

.paddingb120 {
    padding-bottom: 120px !important;
}

.paddingb130 {
    padding-bottom: 130px !important;
}

.paddingb140 {
    padding-bottom: 140px !important;
}

.paddingb150 {
    padding-bottom: 150px !important;
}

.paddingb160 {
    padding-bottom: 160px !important;
}

.paddingb170 {
    padding-bottom: 170px !important;
}

.paddingb180 {
    padding-bottom: 180px !important;
}

.paddingb190 {
    padding-bottom: 190px !important;
}

.paddingb200 {
    padding-bottom: 200px !important;
}

/* padding left */
.nopaddingb {
    padding-left: 0px !important;
}

.paddingl2 {
    padding-left: 2px !important;
}

.paddingl4 {
    padding-left: 4px !important;
}

.paddingl6 {
    padding-left: 6px !important;
}

.paddingl8 {
    padding-left: 8px !important;
}

.paddingl10 {
    padding-left: 10px !important;
}

.paddingl12 {
    padding-left: 12px !important;
}

.paddingl14 {
    padding-left: 14px !important;
}

.paddingl16 {
    padding-left: 16px !important;
}

.paddingl18 {
    padding-left: 18px !important;
}

.paddingl20 {
    padding-left: 20px !important;
}

.paddingl22 {
    padding-left: 22px !important;
}

.paddingl24 {
    padding-left: 24px !important;
}

.paddingl26 {
    padding-left: 26px !important;
}

.paddingl28 {
    padding-left: 28px !important;
}

.paddingl30 {
    padding-left: 30px !important;
}

.paddingl32 {
    padding-left: 32px !important;
}

.paddingl36 {
    padding-left: 36px !important;
}

.paddingl40 {
    padding-left: 40px !important;
}

.paddingl42 {
    padding-left: 42px !important;
}

.paddingl48 {
    padding-left: 48px !important;
}

.paddingl56 {
    padding-left: 56px !important;
}

.paddingl64 {
    padding-left: 64px !important;
}

.paddingl80 {
    padding-left: 80px !important;
}

.paddingl96 {
    padding-left: 96px !important;
}

/* padding right */
.nopaddingr {
    padding-right: 0px !important;
}

.paddingr8 {
    padding-right: 8px !important;
}

.paddingr10 {
    padding-right: 10px !important;
}

.paddingr12 {
    padding-right: 12px !important;
}

.paddingr16 {
    padding-right: 16px !important;
}

.paddingr18 {
    padding-right: 18px !important;
}

.paddingr20 {
    padding-right: 20px !important;
}

.paddingr24 {
    padding-right: 24px !important;
}

.paddingr28 {
    padding-right: 28px !important;
}

.paddingr30 {
    padding-right: 30px !important;
}

.paddingr32 {
    padding-right: 32px !important;
}

.paddingr36 {
    padding-right: 36px !important;
}

.paddingr40 {
    padding-right: 40px !important;
}

.paddingr42 {
    padding-right: 42px !important;
}

.paddingr48 {
    padding-right: 48px !important;
}

.paddingr56 {
    padding-right: 56px !important;
}

.paddingr64 {
    padding-right: 64px !important;
}

.paddingr80 {
    padding-right: 80px !important;
}

.paddingr96 {
    padding-right: 96px !important;
}

.paddingr130 {
    padding-right: 130px !important;
}

@media (max-width: 1900px) {
    /* padding totais*/
    .xl-nopadding {
        padding: 0px !important;
    }

    .xl-padding4 {
        padding: 4px !important;
    }

    .xl-padding8 {
        padding: 8px !important;
    }

    .xl-padding12 {
        padding: 12px !important;
    }
    
    .xl-padding16 {
        padding: 16px !important;
    }

    .xl-padding24 {
        padding: 24px !important;
    }

    .xl-padding32 {
        padding: 32px !important;
    }

    .xl-padding40 {
        padding: 40px !important;
    }

    .xl-padding48 {
        padding: 48px !important;
    }

    .xl-padding62 {
        padding: 62px !important;
    }

    .xl-padding64 {
        padding: 64px !important;
    }

    .xl-padding105 {
        padding: 105px !important;
    }

    .xl-padding140 {
        padding: 140px !important;
    }

    /* padding top*/
    .xl-nopaddingt {
        padding-top: 0px !important;
    }

    .xl-paddingt8 {
        padding-top: 8px !important;
    }

    .xl-paddingt12 {
        padding-top: 12px !important;
    }

    .xl-paddingt16 {
        padding-top: 16px !important;
    }

    .xl-paddingt18 {
        padding-top: 18px !important;
    }

    .xl-paddingt20 {
        padding-top: 20px !important;
    }

    .xl-paddingt24 {
        padding-top: 24px !important;
    }

    .xl-paddingt28 {
        padding-top: 28px !important;
    }

    .xl-paddingt30 {
        padding-top: 30px !important;
    }

    .xl-paddingt32 {
        padding-top: 32px !important;
    }

    .xl-paddingt36 {
        padding-top: 36px !important;
    }

    .xl-paddingt40 {
        padding-top: 40px !important;
    }

    .xl-paddingt48 {
        padding-top: 48px !important;
    }

    .xl-paddingt60 {
        padding-top: 60px !important;
    }

    .xl-paddingt64 {
        padding-top: 64px !important;
    }

    .xl-paddingt80 {
        padding-top: 80px !important;
    }

    .xl-paddingt96 {
        padding-top: 96px !important;
    }

    .xl-paddingt100 {
        padding-top: 100px !important;
    }

    .xl-paddingt120 {
        padding-top: 120px !important;
    }

    .xl-paddingt160 {
        padding-top: 160px !important;
    }

    .xl-paddingt180 {
        padding-top: 180px !important;
    }

    .xl-paddingt200 {
        padding-top: 200px !important;
    }

    .xl-paddingt288 {
        padding-top: 288px !important;
    }

    /* padding bottom*/
    .xl-nopaddingb {
        padding-bottom: 0px !important;
    }

    .xl-paddingb8 {
        padding-bottom: 8px !important;
    }

    .xl-paddingb12 {
        padding-bottom: 12px !important;
    }

    .xl-paddingb16 {
        padding-bottom: 16px !important;
    }

    .xl-paddingb18 {
        padding-bottom: 18px !important;
    }

    .xl-paddingb20 {
        padding-bottom: 20px !important;
    }

    .xl-paddingb24 {
        padding-bottom: 24px !important;
    }

    .xl-paddingb28 {
        padding-bottom: 28px !important;
    }

    .xl-paddingb30 {
        padding-bottom: 30px !important;
    }

    .xl-paddingb32 {
        padding-bottom: 32px !important;
    }

    .xl-paddingb36 {
        padding-bottom: 36px !important;
    }

    .xl-paddingb40 {
        padding-bottom: 40px !important;
    }

    .xl-paddingb48 {
        padding-bottom: 48px !important;
    }

    .xl-paddingb60 {
        padding-bottom: 60px !important;
    }

    .xl-paddingb64 {
        padding-bottom: 64px !important;
    }

    .xl-paddingb80 {
        padding-bottom: 80px !important;
    }

    .xl-paddingb96 {
        padding-bottom: 96px !important;
    }

    .xl-paddingb100 {
        padding-bottom: 100px !important;
    }

    .xl-paddingb120 {
        padding-bottom: 120px !important;
    }

    .xl-paddingb160 {
        padding-bottom: 160px !important;
    }

    .xl-paddingb180 {
        padding-bottom: 180px !important;
    }

    .xl-paddingb200 {
        padding-bottom: 200px !important;
    }

    .xl-paddingb288 {
        padding-bottom: 288px !important;
    }

    /* padding left */
    .xl-nopaddingl {
        padding-left: 0px !important;
    }

    .xl-paddingl8 {
        padding-left: 8px !important;
    }

    .xl-paddingl12 {
        padding-left: 12px !important;
    }

    .xl-paddingl16 {
        padding-left: 16px !important;
    }

    .xl-paddingl18 {
        padding-left: 18px !important;
    }

    .xl-paddingl20 {
        padding-left: 20px !important;
    }

    .xl-paddingl24 {
        padding-left: 24px !important;
    }

    .xl-paddingl28 {
        padding-left: 28px !important;
    }

    .xl-paddingl30 {
        padding-left: 30px !important;
    }

    .xl-paddingl32 {
        padding-left: 32px !important;
    }

    .xl-paddingl36 {
        padding-left: 36px !important;
    }

    .xl-paddingl40 {
        padding-left: 40px !important;
    }

    .xl-paddingl42 {
        padding-left: 42px !important;
    }

    .xl-paddingl48 {
        padding-left: 48px !important;
    }

    /* padding right */
    .xl-nopaddingr {
        padding-right: 0px !important;
    }

    .xl-paddingr8 {
        padding-right: 8px !important;
    }

    .xl-paddingr12 {
        padding-right: 12px !important;
    }

    .xl-paddingr16 {
        padding-right: 16px !important;
    }

    .xl-paddingr18 {
        padding-right: 18px !important;
    }

    .xl-paddingr20 {
        padding-right: 20px !important;
    }

    .xl-paddingr24 {
        padding-right: 24px !important;
    }

    .xl-paddingr28 {
        padding-right: 28px !important;
    }

    .xl-paddingr30 {
        padding-right: 30px !important;
    }

    .xl-paddingr32 {
        padding-right: 32px !important;
    }

    .xl-paddingr36 {
        padding-right: 36px !important;
    }

    .xl-paddingr40 {
        padding-right: 40px !important;
    }

    .xl-paddingr42 {
        padding-right: 42px !important;
    }

    .xl-paddingr48 {
        padding-right: 48px !important;
    }

    .xl-paddingr64 {
        padding-right: 64px !important;
    }
}

@media (max-width: 1399px) {
    /* padding totais*/
    .lg-nopadding {
        padding: 0px !important;
    }

    .lg-padding4 {
        padding: 4px !important;
    }

    .lg-padding8 {
        padding: 8px !important;
    }

    .lg-padding12 {
        padding: 12px !important;
    }
    
    .lg-padding14 {
        padding: 14px !important;
    }

    .lg-padding16 {
        padding: 16px !important;
    }

    .lg-padding24 {
        padding: 24px !important;
    }

    .lg-padding32 {
        padding: 32px !important;
    }

    .lg-padding48 {
        padding: 48px !important;
    }

    .lg-padding64 {
        padding: 64px !important;
    }

    .lg-padding140 {
        padding: 140px !important;
    }

    /* padding top*/
    .lg-nopaddingt {
        padding-top: 0px !important;
    }

    .lg-paddingt8 {
        padding-top: 8px !important;
    }

    .lg-paddingt12 {
        padding-top: 12px !important;
    }

    .lg-paddingt16 {
        padding-top: 16px !important;
    }

    .lg-paddingt18 {
        padding-top: 18px !important;
    }

    .lg-paddingt20 {
        padding-top: 20px !important;
    }

    .lg-paddingt24 {
        padding-top: 24px !important;
    }

    .lg-paddingt28 {
        padding-top: 28px !important;
    }

    .lg-paddingt30 {
        padding-top: 30px !important;
    }

    .lg-paddingt32 {
        padding-top: 32px !important;
    }

    .lg-paddingt36 {
        padding-top: 36px !important;
    }

    .lg-paddingt40 {
        padding-top: 40px !important;
    }

    .lg-paddingt48 {
        padding-top: 48px !important;
    }

    .lg-paddingt60 {
        padding-top: 60px !important;
    }

    .lg-paddingt64 {
        padding-top: 64px !important;
    }

    .lg-paddingt72 {
        padding-top: 72px !important;
    }

    .lg-paddingt80 {
        padding-top: 80px !important;
    }

    .lg-paddingt96 {
        padding-top: 96px !important;
    }

    .lg-paddingt100 {
        padding-top: 100px !important;
    }

    .lg-paddingt120 {
        padding-top: 120px !important;
    }

    .lg-paddingt160 {
        padding-top: 160px !important;
    }

    .lg-paddingt180 {
        padding-top: 180px !important;
    }

    .lg-paddingt200 {
        padding-top: 200px !important;
    }

    .lg-paddingt288 {
        padding-top: 288px !important;
    }

    /* padding bottom*/
    .lg-nopaddingb {
        padding-bottom: 0px !important;
    }

    .lg-paddingb8 {
        padding-bottom: 8px !important;
    }

    .lg-paddingb12 {
        padding-bottom: 12px !important;
    }

    .lg-paddingb16 {
        padding-bottom: 16px !important;
    }

    .lg-paddingb18 {
        padding-bottom: 18px !important;
    }

    .lg-paddingb20 {
        padding-bottom: 20px !important;
    }

    .lg-paddingb24 {
        padding-bottom: 24px !important;
    }

    .lg-paddingb28 {
        padding-bottom: 28px !important;
    }

    .lg-paddingb30 {
        padding-bottom: 30px !important;
    }

    .lg-paddingb32 {
        padding-bottom: 32px !important;
    }

    .lg-paddingb36 {
        padding-bottom: 36px !important;
    }

    .lg-paddingb40 {
        padding-bottom: 40px !important;
    }

    .lg-paddingb48 {
        padding-bottom: 48px !important;
    }

    .lg-paddingb56 {
        padding-bottom: 56px !important;
    }

    .lg-paddingb60 {
        padding-bottom: 60px !important;
    }

    .lg-paddingb64 {
        padding-bottom: 64px !important;
    }

    .lg-paddingb72 {
        padding-bottom: 72px !important;
    }

    .lg-paddingb80 {
        padding-bottom: 80px !important;
    }

    .lg-paddingb96 {
        padding-bottom: 96px !important;
    }

    .lg-paddingb100 {
        padding-bottom: 100px !important;
    }

    .lg-paddingb120 {
        padding-bottom: 120px !important;
    }

    .lg-paddingb160 {
        padding-bottom: 160px !important;
    }

    .lg-paddingb180 {
        padding-bottom: 180px !important;
    }

    .lg-paddingb200 {
        padding-bottom: 200px !important;
    }

    .lg-paddingb288 {
        padding-bottom: 288px !important;
    }

    /* padding left */
    .lg-nopaddingb {
        padding-left: 0px !important;
    }

    .lg-paddingl8 {
        padding-left: 8px !important;
    }

    .lg-paddingl12 {
        padding-left: 12px !important;
    }

    .lg-paddingl16 {
        padding-left: 16px !important;
    }

    .lg-paddingl18 {
        padding-left: 18px !important;
    }

    .lg-paddingl20 {
        padding-left: 20px !important;
    }

    .lg-paddingl22 {
        padding-left: 22px !important;
    }

    .lg-paddingl24 {
        padding-left: 24px !important;
    }

    .lg-paddingl28 {
        padding-left: 28px !important;
    }

    .lg-paddingl30 {
        padding-left: 30px !important;
    }

    .lg-paddingl32 {
        padding-left: 32px !important;
    }

    .lg-paddingl36 {
        padding-left: 36px !important;
    }

    .lg-paddingl40 {
        padding-left: 40px !important;
    }

    .lg-paddingl48 {
        padding-left: 48px !important;
    }

    .lg-paddingl64 {
        padding-left: 64px !important;
    }

    /* padding right */
    .lg-nopaddingr {
        padding-right: 0px !important;
    }

    .lg-paddingr8 {
        padding-right: 8px !important;
    }

    .lg-paddingr12 {
        padding-right: 12px !important;
    }

    .lg-paddingr16 {
        padding-right: 16px !important;
    }

    .lg-paddingr18 {
        padding-right: 18px !important;
    }

    .lg-paddingr20 {
        padding-right: 20px !important;
    }

    .lg-paddingr22 {
        padding-right: 22px !important;
    }

    .lg-paddingr24 {
        padding-right: 24px !important;
    }

    .lg-paddingr28 {
        padding-right: 28px !important;
    }

    .lg-paddingr30 {
        padding-right: 30px !important;
    }

    .lg-paddingr32 {
        padding-right: 32px !important;
    }

    .lg-paddingr36 {
        padding-right: 36px !important;
    }

    .lg-paddingr40 {
        padding-right: 40px !important;
    }

    .lg-paddingr48 {
        padding-right: 48px !important;
    }

    .lg-paddingr64 {
        padding-right: 64px !important;
    } 
}

@media (max-width: 1199px) {
    /* padding totais*/
    .md-nopadding {
        padding: 0px !important;
    }

    .md-padding4 {
        padding: 4px !important;
    }

    .md-padding6 {
        padding: 6px !important;
    }

    .md-padding8 {
        padding: 8px !important;
    }

    .md-padding10 {
        padding: 10px !important;
    }

    .md-padding12 {
        padding: 12px !important;
    }

    .md-padding16 {
        padding: 16px !important;
    }

    .md-padding20 {
        padding: 20px !important;
    }

    .md-padding24 {
        padding: 24px !important;
    }

    .md-padding32 {
        padding: 32px !important;
    }

    .md-padding48 {
        padding: 48px !important;
    }

    .md-padding64 {
        padding: 64px !important;
    }

    .md-padding140 {
        padding: 140px !important;
    }

    /* padding top*/
    .md-nopaddingt {
        padding-top: 0px !important;
    }

    .md-paddingt4 {
        padding-top: 4px !important;
    }
    
    .md-paddingt6 {
        padding-top: 6px !important;
    }

    .md-paddingt8 {
        padding-top: 8px !important;
    }

    .md-paddingt11 {
        padding-top: 11px !important;
    }

    .md-paddingt12 {
        padding-top: 12px !important;
    }

    .md-paddingt16 {
        padding-top: 16px !important;
    }

    .md-paddingt18 {
        padding-top: 18px !important;
    }

    .md-paddingt20 {
        padding-top: 20px !important;
    }
    
    .md-paddingt22 {
        padding-top: 22px !important;
    }

    .md-paddingt24 {
        padding-top: 24px !important;
    }

    .md-paddingt28 {
        padding-top: 28px !important;
    }

    .md-paddingt30 {
        padding-top: 30px !important;
    }

    .md-paddingt32 {
        padding-top: 32px !important;
    }

    .md-paddingt36 {
        padding-top: 36px !important;
    }

    .md-paddingt40 {
        padding-top: 40px !important;
    }

    .md-paddingt48 {
        padding-top: 48px !important;
    }

    .md-paddingt60 {
        padding-top: 60px !important;
    }

    .md-paddingt64 {
        padding-top: 64px !important;
    }

    .md-paddingt80 {
        padding-top: 80px !important;
    }

    .md-paddingt96 {
        padding-top: 96px !important;
    }

    .md-paddingt100 {
        padding-top: 100px !important;
    }

    .md-paddingt120 {
        padding-top: 120px !important;
    }

    .md-paddingt160 {
        padding-top: 160px !important;
    }

    .md-paddingt180 {
        padding-top: 180px !important;
    }

    .md-paddingt200 {
        padding-top: 200px !important;
    }

    .md-paddingt288 {
        padding-top: 288px !important;
    }

    /* padding bottom*/
    .md-nopaddingb {
        padding-bottom: 0px !important;
    }

    .md-paddingb4 {
        padding-bottom: 4px !important;
    }

    .md-paddingb6 {
        padding-bottom: 6px !important;
    }

    .md-paddingb8 {
        padding-bottom: 8px !important;
    }
    
    .md-paddingb10 {
        padding-bottom: 10px !important;
    }

    .md-paddingb12 {
        padding-bottom: 12px !important;
    }

    .md-paddingb16 {
        padding-bottom: 16px !important;
    }

    .md-paddingb18 {
        padding-bottom: 18px !important;
    }

    .md-paddingb20 {
        padding-bottom: 20px !important;
    }
    
    .md-paddingb22 {
        padding-bottom: 22px !important;
    }

    .md-paddingb24 {
        padding-bottom: 24px !important;
    }

    .md-paddingb28 {
        padding-bottom: 28px !important;
    }

    .md-paddingb30 {
        padding-bottom: 30px !important;
    }

    .md-paddingb32 {
        padding-bottom: 32px !important;
    }

    .md-paddingb36 {
        padding-bottom: 36px !important;
    }

    .md-paddingb40 {
        padding-bottom: 40px !important;
    }

    .md-paddingb48 {
        padding-bottom: 48px !important;
    }

    .md-paddingb56 {
        padding-bottom: 56px !important;
    }

    .md-paddingb60 {
        padding-bottom: 60px !important;
    }

    .md-paddingb64 {
        padding-bottom: 64px !important;
    }

    .md-paddingb80 {
        padding-bottom: 80px !important;
    }

    .md-paddingb96 {
        padding-bottom: 96px !important;
    }

    .md-paddingb100 {
        padding-bottom: 100px !important;
    }

    .md-paddingb120 {
        padding-bottom: 120px !important;
    }

    .md-paddingb160 {
        padding-bottom: 160px !important;
    }

    .md-paddingb180 {
        padding-bottom: 180px !important;
    }

    .md-paddingb200 {
        padding-bottom: 200px !important;
    }

    .md-paddingb288 {
        padding-bottom: 288px !important;
    }

    /* padding left */
    .md-nopaddingl {
        padding-left: 0px !important;
    }

    .md-paddingl4 {
        padding-left: 4px !important;
    }
    
    .md-paddingl6 {
        padding-left: 6px !important;
    }

    .md-paddingl8 {
        padding-left: 8px !important;
    }

    .md-paddingl12 {
        padding-left: 12px !important;
    }

    .md-paddingl16 {
        padding-left: 16px !important;
    }

    .md-paddingl18 {
        padding-left: 18px !important;
    }

    .md-paddingl20 {
        padding-left: 20px !important;
    }

    .md-paddingl24 {
        padding-left: 24px !important;
    }

    .md-paddingl28 {
        padding-left: 28px !important;
    }

    .md-paddingl30 {
        padding-left: 30px !important;
    }

    .md-paddingl32 {
        padding-left: 32px !important;
    }

    .md-paddingl36 {
        padding-left: 36px !important;
    }

    .md-paddingl40 {
        padding-left: 40px !important;
    }

    .md-paddingl46 {
        padding-left: 46px !important;
    }

    .md-paddingl48 {
        padding-left: 48px !important;
    }

    /* padding right */
    .md-nopaddingr {
        padding-right: 0px !important;
    }

    .md-paddingr6 {
        padding-right: 6px !important;
    }

    .md-paddingr8 {
        padding-right: 8px !important;
    }

    .md-paddingr12 {
        padding-right: 12px !important;
    }

    .md-paddingr16 {
        padding-right: 16px !important;
    }

    .md-paddingr18 {
        padding-right: 18px !important;
    }

    .md-paddingr20 {
        padding-right: 20px !important;
    }

    .md-paddingr24 {
        padding-right: 24px !important;
    }

    .md-paddingr28 {
        padding-right: 28px !important;
    }

    .md-paddingr30 {
        padding-right: 30px !important;
    }

    .md-paddingr32 {
        padding-right: 32px !important;
    }

    .md-paddingr36 {
        padding-right: 36px !important;
    }

    .md-paddingr40 {
        padding-right: 40px !important;
    }

    .md-paddingr46 {
        padding-right: 46px !important;
    }

    .md-paddingr48 {
        padding-right: 48px !important;
    }

    .md-noborder {
        border: 0px !important;
    }

    .md-noborderb {
        border-bottom: 0px !important;
    }
}

@media (max-width: 743px) {
    /* padding totais*/
    .sm-nopadding {
        padding: 0px !important;
    }

    .sm-padding4 {
        padding: 4px !important;
    }

    .sm-padding8 {
        padding: 8px !important;
    }

    .sm-padding12 {
        padding: 12px !important;
    }

    .sm-padding24 {
        padding: 24px !important;
    }

    .sm-padding32 {
        padding: 32px !important;
    }
    
    .sm-padding40 {
        padding: 40px !important;
    }

    .sm-padding48 {
        padding: 48px !important;
    }

    .sm-padding64 {
        padding: 64px !important;
    }

    .sm-padding140 {
        padding: 140px !important;
    }

    /* padding top*/
    .sm-nopaddingt {
        padding-top: 0px !important;
    }

    .sm-paddingt8 {
        padding-top: 8px !important;
    }
    
    .sm-paddingt9 {
        padding-top: 9px !important;
    }
    
    .sm-paddingt10 {
        padding-top: 10px !important;
    }

    .sm-paddingt12 {
        padding-top: 12px !important;
    }

    .sm-paddingt16 {
        padding-top: 16px !important;
    }

    .sm-paddingt18 {
        padding-top: 18px !important;
    }

    .sm-paddingt20 {
        padding-top: 20px !important;
    }

    .sm-paddingt24 {
        padding-top: 24px !important;
    }

    .sm-paddingt28 {
        padding-top: 28px !important;
    }

    .sm-paddingt30 {
        padding-top: 30px !important;
    }

    .sm-paddingt32 {
        padding-top: 32px !important;
    }

    .sm-paddingt36 {
        padding-top: 36px !important;
    }

    .sm-paddingt40 {
        padding-top: 40px !important;
    }

    .sm-paddingt48 {
        padding-top: 48px !important;
    }

    .sm-paddingt60 {
        padding-top: 60px !important;
    }

    .sm-paddingt64 {
        padding-top: 64px !important;
    }

    .sm-paddingt80 {
        padding-top: 80px !important;
    }

    .sm-paddingt96 {
        padding-top: 96px !important;
    }

    .sm-paddingt100 {
        padding-top: 100px !important;
    }

    .sm-paddingt120 {
        padding-top: 120px !important;
    }

    .sm-paddingt160 {
        padding-top: 160px !important;
    }

    .sm-paddingt180 {
        padding-top: 180px !important;
    }

    .sm-paddingt200 {
        padding-top: 200px !important;
    }

    .sm-paddingt288 {
        padding-top: 288px !important;
    }

    /* padding bottom*/
    .sm-nopaddingb {
        padding-bottom: 0px !important;
    }

    .sm-paddingb8 {
        padding-bottom: 8px !important;
    }
    
    .sm-paddingb9 {
        padding-bottom: 9px !important;
    }
    
    .sm-paddingb10 {
        padding-bottom: 10px !important;
    }

    .sm-paddingb12 {
        padding-bottom: 12px !important;
    }

    .sm-paddingb16 {
        padding-bottom: 16px !important;
    }

    .sm-paddingb18 {
        padding-bottom: 18px !important;
    }

    .sm-paddingb20 {
        padding-bottom: 20px !important;
    }

    .sm-paddingb24 {
        padding-bottom: 24px !important;
    }

    .sm-paddingb28 {
        padding-bottom: 28px !important;
    }

    .sm-paddingb30 {
        padding-bottom: 30px !important;
    }

    .sm-paddingb32 {
        padding-bottom: 32px !important;
    }

    .sm-paddingb36 {
        padding-bottom: 36px !important;
    }

    .sm-paddingb40 {
        padding-bottom: 40px !important;
    }

    .sm-paddingb48 {
        padding-bottom: 48px !important;
    }

    .sm-paddingb60 {
        padding-bottom: 60px !important;
    }

    .sm-paddingb64 {
        padding-bottom: 64px !important;
    }

    .sm-paddingb80 {
        padding-bottom: 80px !important;
    }

    .sm-paddingb96 {
        padding-bottom: 96px !important;
    }

    .sm-paddingb100 {
        padding-bottom: 100px !important;
    }

    .sm-paddingb120 {
        padding-bottom: 120px !important;
    }

    .sm-paddingb160 {
        padding-bottom: 160px !important;
    }

    .sm-paddingb180 {
        padding-bottom: 180px !important;
    }

    .sm-paddingb200 {
        padding-bottom: 200px !important;
    }

    .sm-paddingb288 {
        padding-bottom: 288px !important;
    }

    /* padding left */
    .sm-nopaddingl {
        padding-left: 0px !important;
    }

    .sm-paddingl4 {
        padding-left: 4px !important;
    }
    
    .sm-paddingl6 {
        padding-left: 6px !important;
    }

    .sm-paddingl8 {
        padding-left: 8px !important;
    }
    
    .sm-paddingl10 {
        padding-left: 10px !important;
    }

    .sm-paddingl12 {
        padding-left: 12px !important;
    }
    
    .sm-paddingl14 {
        padding-left: 14px !important;
    }

    .sm-paddingl16 {
        padding-left: 16px !important;
    }

    .sm-paddingl18 {
        padding-left: 18px !important;
    }

    .sm-paddingl20 {
        padding-left: 20px !important;
    }

    .sm-paddingl24 {
        padding-left: 24px !important;
    }

    .sm-paddingl28 {
        padding-left: 28px !important;
    }

    .sm-paddingl30 {
        padding-left: 30px !important;
    }

    .sm-paddingl32 {
        padding-left: 32px !important;
    }

    .sm-paddingl36 {
        padding-left: 36px !important;
    }

    .sm-paddingl40 {
        padding-left: 40px !important;
    }

    .sm-paddingl48 {
        padding-left: 48px !important;
    }

    /* padding right */
    .sm-nopaddingr {
        padding-right: 0px !important;
    }

    .sm-paddingr8 {
        padding-right: 8px !important;
    }
    
    .sm-paddingr10 {
        padding-right: 10px !important;
    }

    .sm-paddingr12 {
        padding-right: 12px !important;
    }
    
    .sm-paddingr14 {
        padding-right: 14px !important;
    }

    .sm-paddingr16 {
        padding-right: 16px !important;
    }

    .sm-paddingr18 {
        padding-right: 18px !important;
    }

    .sm-paddingr20 {
        padding-right: 20px !important;
    }

    .sm-paddingr24 {
        padding-right: 24px !important;
    }

    .sm-paddingr28 {
        padding-right: 28px !important;
    }

    .sm-paddingr30 {
        padding-right: 30px !important;
    }

    .sm-paddingr32 {
        padding-right: 32px !important;
    }

    .sm-paddingr36 {
        padding-right: 36px !important;
    }

    .sm-paddingr40 {
        padding-right: 40px !important;
    }

    .sm-paddingr48 {
        padding-right: 48px !important;
    }

    .sm-noborder {
        border: 0px !important;
    }
}